* {
  box-sizing: border-box;
  
}
body {
  background-image: linear-gradient(120deg, rgb(221, 90, 221), rgba(102, 238, 24, 0.842));
  font-family: 'Montserrat', sans-serif;
 
}
.container.total {
  padding: 2%;
  width: 80%;
  border: 2px black solid;
  margin-top: 5%;
  background-image: linear-gradient(120deg, rgba(41, 200, 178, 0.77), rgba(22, 231, 55, 0.77));
  color: snow;
}
.staff-list.row {
  border: 1px #f0f0f0 solid;
  width: 95%;
  margin: auto;
  margin-top: 10px;
}
#selec {
  text-align: end;
  width: 100%;

}
#colum {
  width: 100%;
}
#title-staff {
  background-color: darkgray;
}
#div-infor {
  padding: 2%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(209, 219, 209);
  border: 1px white solid;
  border-radius: 4px;
  color: black;
}
#menu {
  display: flex;
  justify-content: space-between;
  background-color: azure;  
}
a{
  color: rgb(10, 10, 10);
}
.row.navi {
  padding: 2%;

}
div {
  padding: 2px;
}

#img-profile-tag {
  width: 100%;
}

.infor {
  font-size: 1.5rem;
}
li {
  list-style-type: none;
}
#name-info {
  text-align: center;
}
#p-footer {
  background-color: rgb(133, 133, 133);
  text-align: center;
}
